/* 
COLORES: 
oscuro del primer cuadrado y footer:#76BA99
fuentes: #FFDCAE
claro de lo que no es la quote: #CED89E
 quote: #ADCF9F
 fuentes dark : #1A4D2E
*/

p
{
    font-family: 'Roboto', sans-serif;

}

a
{
color: black;
font-size: 20px;
text-decoration: none;
font-family: 'Roboto', sans-serif;
}
.dark
{
background-color: #76BA99;
flex: 1;

}
.header
{
display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;
margin-bottom: 70px;
}

.hlinks
{
display: flex;
gap: 40px;
margin-right: 70px;


}
.dark-image
{
    /*max-width: 400px;*/
    padding-bottom: 60px;
    
}
.dark-content
{
    display: flex;
    justify-content: space-around;
    

}
.main-content
{
    flex-wrap: wrap;
    max-width: 300px;


}
.logo
{
    margin-left: 70px ;
    font-size: 30px;
    font-weight: bold;
}
.dark-button
{
    font-family: 'Roboto', sans-serif;

}